div {
  user-select: none /* 選択を禁止する */
}

body{
  background-color: rgb(255, 237, 214);
  font-family: 'Noto Sans JP', sans-serif;
}

html,body{
  overflow: hidden
}


.hidden {
  display: none;
}

#canvas{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

